.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-template-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid-item {
}
